* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.Sys {
    display: flex;
    /*background-color: burlywood;*/
    min-height: 100%;
    /*width: 180vw;*/
    width: 100%;
    flex-flow: column;
}

.cat-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.cat-container .categories {
    border: solid #095CF5;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column;
    /*width: 60%;*/
    min-width: 50px;
    min-height: 350px;

    background-color: whitesmoke;
    margin: 0px 15px;
    padding: 8px;
}

.stories {
    background-color: #095CF5;
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 7px 20px;
    text-align: center;
}
/*
#NS {
    text-decoration: underline;
    text-decoration-color: red ;
}

#IP {
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

#C {
    text-decoration: underline;
    text-decoration-color: green;
}
*/