#gc {
    color: #095CF5;
}

#group-chat {
    width: 80%;
}

#message-container {
    height: calc(100% - 80px);
    margin-bottom: 10px;
    overflow-y: auto;
}

.message {
    border-radius: 10px;
    font-family: Arial;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 80%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.message.visible {
    opacity: 1;
}

.message-sent {
    float: right;
    background-color: #095cf5;
    color: white;
}

.message-received {
    float: left;
    background-color: whitesmoke;
    margin-left: 10px;
}

.input {
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

.message-input {
    background-color: white;
    opacity: 50%;
    width: 40%;
    border-radius: 10px;
}

#send {
    font-family: Arial;
    color: whitesmoke;
    width: 10%;
    border-radius: 10px;
    border-color: #095cf5;
    background-color: #095cf5;
}