*{
    margin: 0;
    padding: 0;
}

.indexBody {
    background: url("../images/sdPicture.jpg");
    background-size: cover;
}

.homeBody {
    background: url("../images/sdPicture.jpg");
    background-size: cover;
}

.SprintBody {
    background: url("../images/blue4.jpg");
}

.TaskBody {
    background: url("../images/blue4.jpg");
    background-size: cover;
}

.devBody {
    background: url("../images/blue4.jpg");
    background-size: cover;
}

.ownerBody {
    background: url("../images/blue4.jpg");
    background-size: cover;
}

/*body {*/
/*    background: url("../images/sdPicture.jpg");*/
/*    background-size: cover;*/
/*    !/background-color: #383535;*!*!*/
/*}*/

@font-face {
    src: url("../Fonts/spiderman/HOMOARAK.TTF");
    font-family: arak;
}

@font-face {
    src: url("../Fonts/mallanna/Mallanna-Regular.ttf");
    font-family: mall;
}

@font-face {
    src: url("../Fonts/catamaran/Catamaran-Medium.ttf");
    font-family: cat;
}

@font-face {
    src: url("../Fonts/007-golden-eye/007 GoldenEye.ttf");
    font-family: golden;
}

@font-face {
    src: url("../Fonts/uptown-elegance/Uptown Elegance Regular.ttf");
    font-family: uptown;
}


.navigation {
    width: 100%;
    height: 65px;
    /*background-color: #212121;*/
    background-color: #ECEFF1;
}

.navigation p {
    font-family: golden;
    /*color: white;*/
    color: black;
    font-size: 40px;
    line-height: 65px;
    float: left;
    padding: 0px 0px 0px 10%;
}

.navigation p a {
    text-decoration: none;
    /*color: white;*/
    color:black;

}

.navigation ul {
    float: right;
    font-family: Arial;
    color: white;
    /*color: black;*/
    padding: 0px 10% 0px 0px;
}

.navigation ul li {
    float: left;
    list-style: none;
    position: relative;
}

.navigation ul li a {
    display: block;
    font-family: Arial;
    /*color: white;*/
    color: black;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 15px;
}

.navigation ul li a:hover {
    background-color: #1a237e;
    color: #ECEFF1;
}

.navigation ul li ul {
    display: none;
    position: absolute;
    font-size: 14px;
    /*background-color: #212121;*/
    background-color: #ECEFF1;
    color: #ECEFF1;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}

.navigation ul li ul li {
    width: 200px;
    color: black;
    border-radius: 4px;
}

.navigation ul li ul li a {
    padding: 15px 15px;
    color: black;
}

.navigation ul li ul li a:hover {
    background-color: #1a237e;
}

.navigation ul li a i {
    float: right;
}

.navigation ul li:hover ul {
    display: block;
}

.modal {
    background-color: #212121;
    color: white;
}

#projectTitle {
    font-size: 25px;
    background-color: #212121;
    /*background-color: #ECEFF1;*/
    border-radius: 10px;
    color: white;
    margin-left: 10%;
    margin-right: 72%; 
    padding: 15px 15px 15px 15px;
}

.declineInviteButtons {
    color: white;
    background-color: #1a237e;
    padding: 5px 10px;
    margin-left: 20px;
}

.acceptInviteButtons {
    color: white;
    background-color: #1a237e;
    padding: 5px 10px;
}

#displayProjects {
    display: inline-flex;
}

#displaySprints {
    display: inline-flex;
}

#viewSprints {

    border:0px solid #3498db;
    padding:6px 6px;
    marginTop:-37px;
    fontSize:15px;
    cursor:pointer;
    background-color:#1a237e;
    color:white;
    fontFamily:Arial;
    border-radius: 5px;
}

#Proj1 {
    background-color:#ECEFF1;
    width:300px;
    border-radius: 5px;
    margin-Left :80px;
    margin-top: 60px;
    position: relative;
}

#title {
    width:100px;
    background-color:#1a237e;
    color:#e0e0e0;
    border-radius: 5px;
    padding: 3px 3px;
    bottom: -80px;
}

#title2 {
    width:100px;
    background-color:#1a237e;
    color:#e0e0e0;
    border-radius: 5px;
    padding: 3px 3px;
    bottom: -80px;
}

#viewSprints2 {

    border:0px solid #3498db;
    padding:6px 6px;
    marginTop:-37px;
    fontSize:15px;
    cursor:pointer;
    background-color:#1a237e;
    color:white;
    fontFamily:Arial;
    border-radius: 5px;
}

#Proj2 {
    background-color:#ECEFF1;
    width:300px;
    border-radius: 5px;
    margin-left:80px;
    margin-top: 60px;
    position: relative;
}

