@keyframes userStoryBtnAnimation{
    from{color: #095CF5;
        background: whitesmoke;
        border: 1px solid #095CF5;}
    to{color: whitesmoke;
        background: #095CF5;}
}

#userStoryContainer{
    margin: 10px 20px 0 20px;
    position: relative;
    border-radius: 10px;
}

.stories{
    background: white;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    /*border-left: solid black;*/
    /*width: 29.9%;*/
}
.tasks{
    background: white;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    /*border-left: solid black;*/
    /*width: 29.9%;*/
}

.userStory{
    background: white;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    /*width: 29.9%;*/
}

.userStoryBtn{
    float: right;
    color: #095CF5;
    background: whitesmoke;
    border: 1px solid #095CF5;
    border-radius: 20px;
    padding: 10px;
    outline: none;
}

.userStoryBtn:hover{
    cursor: pointer;
    animation-name: userStoryBtnAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.userStoryName{
    color:#095CF5;
    padding-top: 10px;
    font-size: 25px;
}

.userStoryName:hover{
    color:black;
    cursor: pointer;
}

.description{
    color: #68BCE5;
    padding:15px 2px 2px 2px;
    font-size: 20px;
}

.acceptance{
    padding:4px;
    margin-bottom: 5px;
    color: #68BCE5;
}

.points{
    padding:4px;
    color: black;
}
