body {
    background: url("pictures/sdPicture.jpg");
    background-size: cover;
}

@font-face {
    font-family: HOMOARAK;
    src: url(Fonts/HOMOARAK.ttf);
}

/* .brand-logo {
    font-family: 'Play', sans-serif;
    font-weight: 600;
} */

#sidenav2 {

    color: blue;
    background-color: #212121;
    position: absolute;
    left: 0px;
    top: -10px;
    padding-bottom: 19px;
    padding-top: 19px;
    padding-left: 19px;
    padding-right: 19px;
}

.hide-on-med-and-down li a:hover {
    background: #1a237e;

    color: #333;
}

/*dropdown css*/

nav div ul li {
    position:relative;
}

nav div ul li ul{
    display: none;
    position: absolute;
    background-color: #212121;
    border-radius: 0px 0px 5px 5px;
}
nav div ul li:hover ul{
    display: block;
}

nav div ul li ul li {
    width:180px;
    border-radius: 4px;
}

nav div ul li a i{
    float:right;
}