#navbar {
	background: #0091ea;
	position: relative;
	top: 20px;
	border-radius: 5px;
	padding: 0.4em 2em;
	height: 60px;
	margin: auto;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
