#slide-out {
    background-color: #212121;
}

#slide-out li a {
    color:white;
}

#slide-out li a i {
    color:white;
}

#sidenav2 {
    color: blue;
    background-color: #212121;
    position: absolute;
    left: 0px;
    top: -10px;
    padding-bottom: 19px;
    padding-top: 19px;
    padding-left: 19px;
    padding-right: 19px;
}