*{

 margin: 0;	
 padding: 0;
}

.wrapper {

 width: 1170px;
 margin:auto; 
}

header {
 background: url("BlackBackground.jpg");
 
 height: 100vh;
 -webkit-background-size:cover;
 background-size:cover;
 background-position: center center;
 position: relative;
}

.AccOps{

float: left;
list-style: none;

margin-top: 35px;
}

.AccOps li{
display:inline-block;

}

.AccOps li a {
color: #fff;
text-decoration: none;
padding: 5px 20px; 
font-family:Arial;
font-size:18px;
}

.AccOps li a:hover {
 background: #fff;
 color: #333;
}

.Greeting-Text {

position:absolute;
width: 600px;
height:300px;
margin: 20% 29%;
text-align: center; 
}

.Greeting-Text h1 {
float: left
text-align:center;
color: #fff;
text-transform: uppercase;
font-family: sans-serif
font-size: 40px;

}
 
.sub-menu {

display:none;
}
 
