*{
    margin: 0;
    padding: 0;
}

.indexBody {
    background: url("../images/sdPicture.jpg");
    background-size: cover;
}

body {
    background-color: #383535;
}

.navigation {
    width: 100%;
    height: 65px;
    background-color: #212121;
}

.navigation p {
    font-family: Arial;
    color: white;
    font-size: 30px;
    line-height: 65px;
    float: left;
    padding: 0px 0px 0px 10%;
}

.navigation p a {
    text-decoration: none;
    color: white;
}

.navigation ul {
    float: right;
    font-family: Arial;
    color: white;
    padding: 0px 10% 0px 0px;
}

.navigation ul li {
    float: left;
    list-style: none;
    position: relative;
}

.navigation ul li a {
    display: block;
    font-family: Arial;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 20px 15px;
}

.navigation ul li a:hover {
    background-color: #1a237e;
}

.navigation ul li ul {
    display: none;
    position: absolute;
    font-size: 14px;
    background-color: #212121;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}

.navigation ul li ul li {
    width: 200px;
    border-radius: 4px;
}

.navigation ul li ul li a {
    padding: 15px 15px
}

.navigation ul li ul li a:hover {
    background-color: #1a237e;
    border-bottom: 5px solid #1a237e;
}

.navigation ul li a i {
    float: right;
}

.navigation ul li:hover ul {
    display: block;
}

.modal {
    background-color: #212121;
    color: white;
}

#projectTitle {
    font-size: 25px;
    margin-left: 10%;
    margin-right: 72%; 
    padding: 15px 15px 15px 15px;
}

#project {
    background-color: #212121;
    color: white;
}

.sprints_btn_group {
    margin-left: 10%;
    margin-right: 72%; 
    padding: 15px 15px 15px 15px;
}

.sprint_btn {
    background-color: #1a237e;
    color: white;
    margin: 5px;
    width: 100%;
}
.sprint_btn:hover {
    background-color: white;
    color: #1a237e;
}

.declineInviteButtons {
    color: white;
    background-color: #1a237e;
    padding: 5px 10px;
    margin-left: 20px;
}


.acceptInviteButtons {
    color: white;
    background-color: #1a237e;
    padding: 5px 10px;
}

#btt {
    border: 0px solid #3498db;
    padding: 10px 10px;
    fontSize:15px;
    cursor:pointer;
    background-color:#1a237e;
    borderRadius:10px;
    color:white;
    fontFamily:Arial;
}

#pageBtt {
    margin-top: -100px;
}

#pageBtt2 {
    margin-top: -470px;
}

.sprint_btn {
    border: 0px solid #3498db;
    padding: 10px 10px;
    fontSize:15px;
    cursor:pointer;
    background-color:#1a237e;
    borderRadius:10px;
    color:white;
    fontFamily:Arial;
}

